*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{
    /* background-color: black; */
    width:100%;
    height: 100%;
    font-family: sans-serif;
    position: relative;
}
nav{
    width:100%;
    /* height:10vh; */
    background: white;
    position: fixed;
    top:0;
    left:0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar{
    width:80%;
    display: flex;
    justify-content: center;
    position: relative;
}
.nav-links{
    position: absolute;
    width:30vw;
    height: 100vh;
    left:-100%;
    top:0;
    background: black;
    z-index: 102;
    transition: .3s ease;
}
.nav-links.active{
left:0;
}
.nav-links ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap:20px;
}
.links{
    list-style-type: none;
}
.links a{
font-size: 2rem;
color:white;
text-decoration: none;
}
.logo{
    position: relative;
    width:100px;
    height: 80px;
}
.logo img{
    position: absolute;
    width:100%;
    height: 100%;
    object-fit: contain;
}
.close{
    position: absolute;
    width:100px;
    height:30px;
    display: flex;
    top:50%;
    transform: translateY(-50%);
    left:1%;
    display: grid;
    place-items:center;
    cursor: pointer;
    z-index: 103;
}
.close.active .bar:nth-of-type(1){
    transform: rotateZ(45deg) translateY(14px);
    background: white;
}
.close.active .bar:nth-of-type(3){
    transform: rotateZ(-45deg) translateY(-14px);
    background: white;
}
.close.active .bar:nth-of-type(2){
    opacity: 0;
}
.bar{
    width:30px;
    height:3px;
    background: black;
    transition: .3s ease;
}
.intro-modal{
    width:100%;
    height: 100vh;
    position: absolute;
    z-index: 110;
    background: black;
    top:0;
    left:0;
    transition: .5s ease;
}
.intro-modal.fade{
    opacity: 0;
}
.intro-modal.hide{
    display: none;
}
.play{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 150px;
	height: 150px;
    /* border:150px solid white; */
	border-top: 75px solid transparent;
	border-left: 150px solid black;
	border-bottom: 75px solid transparent;
    border-right:0;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    align-items: center;
    transition: .3s ease;
    
}
.play h2{
    position: absolute;
    opacity: 0;
    left:-100px;
    width:150px;
    top:50%;
    transform: translateY(-50%);
}
.play:hover{
    width:200px;
    height: 200px;
    border-top: 150px solid transparent;
	border-left: 200px solid white;
	border-bottom: 150px solid transparent;
    border-right:0;
    cursor: pointer;
}
.play:hover > *{
left: -180px;
opacity: 1;
/* transform: translateX(100px); */
}
.intro-modal video{
    position: absolute;
    width:100%;
    height: 100%;
    /* object-fit: fill; */
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.skip{
    color:white;
    font-size: 2rem;
    position: absolute;
    top:90%;
    left:90%;
    transform: translate(-80%,-80%);
}
#hero{
    position: relative;
    width: 100vw;
    height: 90vh;
    top:10vh;
}
.list{
    position: absolute;
    /* width: 50%; */
    /* height: 80%; */
    top:30%;
    color:white;
    z-index: 10;
    margin: auto auto auto 5%;
    display: flex;
    flex-direction: column;
    gap:20px;
    /* background: rgba(0,0,0,.5); */
}
.list h2{
    color: rgb(195, 195, 195);
    font-size: 2.5rem;
    margin:5px 0;
    cursor: pointer;
    display: inline;
    /* width: auto; */
    text-align: left;
    transition: .2s ease;
    font-family: "Roboto Condensed", sans-serif;

}
.list h2:hover{
    color:white;
}
.bg-holder{
    position: absolute;
    width:100%;
    height: 100%;
    left:-150%;
    transition: .5s ease;
}
.bg-holder.active{
    left:0;
}
.bg-holder img{
    position: absolute;
    width: 100%;
    height: 100%;
    /* object-fit: contain; */
    aspect-ratio: 16/9;
}
.hero-desc{
    position: absolute;
    top:50%;
    left:20%;
    transform: translate(-20%,-50%);
    z-index: 10;
}
.hero-desc h2{
    color:#d6270f;
    font-size: 3rem;
}
.overlay{
    position: absolute;
    width:100%;
    height: 100%;
    background: rgba(0,0,0,.2);
}
.light-box{
width:0;
height:0;
background: white;
position: absolute;
top:0;
left:0;
transition: .3s ease;
opacity: 0;
z-index: -1;
}
.light-box.active{
    width:100vw;
    height: 100vh;
    top:10vh;
    left:0;
    z-index: 11;
    opacity: 1;
    position: fixed;
}
.light-holder{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width:100%;
    height: 100%;
    gap:50px;
}
.light-img{
    margin-top:50px;
    width:50%;
    height:50%;
    position: relative;
}
.light-img img{
    position: absolute;
    width:100%;
    height: 100%;
}
.light-desc,.light-links{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width:80%;
margin:20px auto;
gap:20px;
}
.light-desc p{
    width:60%;
    line-height: 1.5;
}
.light-links{
    margin-top: -40px;
    font-size: 1.5rem;
}
.light-links a.active{
    text-decoration: none;
    color:white;
    background: black;
    padding:.5rem .8rem;
    border-radius: 25px;
}
.min{
    position: absolute;
    right:5%;
    top:0%;
    cursor: pointer;
    font-size: 2rem;
}
#second{
    width:85%;
    height: 100%;
    margin: auto;
    position: relative;
    top:100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:40px 0;
}
#second h2{
    font-size: 3rem;
    margin-bottom:10px;
}
h3{
    font-size: 1.5rem;
}
.second-holder h4{
    font-size: 1rem;
    width:80%;
    text-align: center;
    font-weight: 200;
}
.red{
    color:#d6270f;
}
.second-holder{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top:50px;
}

.service{
    display: grid;
    place-items:center;
    gap:20px;
    transition: .3s ease;
    max-width: 150px;
} 
.service img{
    width:150px;
    border-radius: 50%;
    clip-path: circle(48%);
}
.service:hover{
transform: scale(1.05);
}
.service:nth-of-type(2) img{
    background: black;
/* object-position: 3px ; */
}
#second a{
    width:300px;
    margin:30px auto auto;
}
#second a button{
    width:300px;
    height:50px;
    /* background: black; */
    
    margin:auto auto;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 30px;
    /* border:none; */
    transition: .3s ease;   
    color:#d6270f
}

#second button:hover{
    background: black;
    color: white;
    transform-origin: left;
    cursor: pointer;
}

.serv{
    background: black!important;
    width:100%!important;
    color:white!important; 
}
.serv > h2 , .serv > h3{
margin-left:100px;
}
.serv-holder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;   
    height: 100%;
    gap:20px;
}
.row{
    display: flex;
    width:85%;
    justify-content: space-evenly;
    align-items: flex-start;
}

#team{
    position: relative;
    top:100px;
    width:100%;
    height:100%;
    margin: auto;
    text-align: center;
    background: black;
    color:white;
}
#team h2{
    font-size:2.5rem;
    margin:10px auto 100px;
}
.team-holder{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    place-items:center;
    gap:50px 0;
    margin-bottom:150px;
    width:85%;
    margin:auto;
    /* height: 100vh; */
}
.person{
    max-width:300px;
    max-height:300px;
    display: grid;
    place-items:center;
    text-align: center;
    gap:10px;

}
.person h3{
    color:#d6270f;
}
.person:nth-of-type(5){
    margin-top:70px;
    margin-bottom:50px;
}
.person:nth-of-type(5) img{
    object-position: center bottom;
}
.person-img{
width:150px;
position: relative;
}
.person-img img{
    /* position: absolute; */
    width:150px;
    height:150px;
    border-radius: 50%;
    object-fit: cover;
}
.person p{
    width:70%;
    font-weight: 300;
    /* margin-top:10px; */
    line-height: 1.2;
}